<h1>Detect country names</h1>

<p>Paste your CSV. Detected country names will be replaced with their ISO equivalent.</p>

<div class="row">
  <label for="country-fields">Comma separated list of country fields</label>
  <input type="text" id="country-fields" class="input-line" value="correspondent state,claimant state" />
</div>

<div class="row">
  <button id="start-conversion">Run</button>
</div>

<div class="row">
  <label for="data-input">Input</label>
  <textarea id="data-input"></textarea>
</div>

<div class="row">
  <label for="data-output">Output</label>
  <textarea id="data-output"></textarea>
</div>

<div class="row">
  <label for="data-bad">Bad lines</label>
  <textarea id="data-bad"></textarea>
</div>
